{% extends 'src/partials/layout.njk' %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body class="bg-primary">

   <p class="flex max-w-full text-4  md:text-xl text-white font-secondary my-12 px-6 md:px-28 mb-6 text-left z-10 md:mt-[10em]">
      SEOUL, SOUTH KOREA 2024
    </p>

    <div class=" w-full mt-[-3rem] md:mt-[-17rem] ">
      <img
        src="/Group78.png"
        alt="img"
        class="w-full h-auto "
      />
    </div>

    <h1 class="max-w-full text-4xl md:text-7xl text-white font-primary my-12 px-6 md:px-28 text-left z-10 mt-[-15rem] md:mt-[-55rem]">
      VCT CHAMPIONS
    </h1>

    <img
      class=" relative h-16 md:h-32 pt-1 px-6 md:px-28 mt-[-3em] md:mt-1 items-left z-10"
      src="/Group8.png"
    />


  <div class="w-full flex justify-left  text-white font-secondary px-8  md:px-32 z-10 my-8  md:my-12 ">
    <button class="rounded-md bg-accent py-2 px-4 md:py-4 md:px-8 border border-transparent text-center text-xs md:text-sm text-white transition-all
       shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none 
       disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
      Learn More
    </button>
  </div>

     <div class=" w-[40em] ml-[-5em] md:ml-px  md:max-w-full md:w-full mt-[-10em] md:mt-[-16em]">
       <img
      src="/Group77.png" alt="img">
    </div>

  <h1 class="max-w-full  text-4xl md:text-7xl text-white font-primary text-center mt-[-1em]">
    MEET OUR VCT TEAM
  </h1>

  <div class="w-full flex mt-[3em] md:mt-[5em] items-center ml-[-3.5em] md:ml-[-5em]">
    <img
      src="/Group79.png" alt="img"
      class="w-12/12 md:w-10/12 h-auto"
    />
  </div>

  <h1 class="max-w-full  text-4xl md:text-7xl text-white font-primary text-center mt-12">
    SCORES
  </h1>
  <p class="max-w-full text-l md:text-lg text-white font-secondary text-center mt-4">Our latest matches</p>

  <div class="w-full flex justify-center my-12">
    <img
      src="/Group60.png" alt="img"
      class="relative w-12/12 md:w-6/12 h-auto z-40"
    />
  </div>

   <div class=" max-md:max-w-full w-2/12 mt-[5em] ml-[25.5em] md:ml-[100em] mt-[-12rem] md:mt-[-25rem] opacity-30">
       <img
      src="/Group54.png" alt="img">
    </div>


  <h1 class="max-w-full text-4xl md:text-7xl text-white font-primary text-center mt-12 md:mt-[-3em]">
    MERCH
  </h1>

  <div class="w-full flex justify-center my-12">
    <img
      src="/Group72.png" alt="img"
      class="w-11/12 md:w-6/12 h-auto"
    />
  </div>

</body>
{% endblock %}
