{% extends 'src/partials/layout.njk' %}
{% block content %}
  <body class="bg-primary">

    </section>

    <h1 class="relative text-4xl md:text-5xl text-white font-primary text-center mt-[2em] ">
    MERCH
    </h1>

<div class=" max-w-[24px] md:max-w-[32px] ml-[3em]  md:ml-[13em] mt-[-2em]">
  <a href="merch.html"> <img
      src="arrow.png" alt="img"> </a>
</div>
     
        <div  class="md:w-5/12 w-11/12 mt-10  ml-4 md:ml-52">
        <img
      src="/Group71.png" alt="img">
          <h2 class="relative text-3xl md:text-6xl md:leading-relaxed text-white font-primary md-text-center mt-8 md:mt-[-10em]   md:ml-[14em] ">
    SLEEKSNAKES KEYCHAIN
    </h2>
          <h2 class="relative text-3xl md:text-5xl text-white font-secodary font-bold md:text-center mt-4 md:mt-[-1.70em] md:ml-[24em] ">
  29.99$
    </h2>

     <h2 class="absolute text-l md:text-xl text-white font-secodary text-left mt-4 md:mt-12 md:ml-[42em] ">
  SleekSnakes keychain, made from high  <br> quality resin and metal
<br>
<br>
<br>
Size: 5x5cm square
    </h2>
     <img class="w-3/12 mt-40 md:mt-56 md:ml-[52em]"
      src="/Group34.png" alt="img"> 
        </div>
<div class="relative text-7xl text-white font-secondary my-22 px-32 text-left z-10 ml-[-110px] md:ml-[12.75em] mt-4">
        <button class="rounded-md bg-accent py-4 px-8 border border-transparent text-center text-sm text-white transition-all
         shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none 
         disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
          Add to Cart </button>
        </div>

         <img class="md:w-[2.5em] w-[2em] ml-[11em] md:ml-[75em] mt-[-2.75em] md:mt-[-3em]"
      src="/frame.png" alt="img"> 


    <h1 class="relative text-2xl md:text-4xl text-white font-primary text-left mt-[3em]  ml-4 md:ml-52 ">
    SLEEKSNAKES KEYCHAIN
    </h1>

    <h1 class="relative text-xs md:text-xl text-white font-secondary font-light text-left mt-[1em] ml-4 md:ml-52 mr-32 ">
    The SleekSnakes keychain is an expertly crafted accessory that captures the bold and unique spirit of your esports team. 
    <br> This 5x5 cm square keychain is made from premium resin, giving it a sleek and glossy finish that’s both durable and eye-catching. 
    <br> The high-quality metal accents provide a touch of sophistication and strength,
    <br> ensuring it can withstand the rigors of daily use. Designed with team pride in mind, 
    <br>the SleekSnakes emblem is detailed and vibrant, perfectly embodying the essence of agility, strength,
    <br> and precision your team represents. Ideal for backpacks, keys, or sports bags, this keychain is a must-have
    <br> keepsake for fans and players alike.
    </h1>

        <h1 class="relative text-2xl md:text-4xl text-white font-primary text-left mt-10 ml-4 md:ml-52 ">
    COLORS AVAILABLE
    </h1>
    
         <img class="w-3/12 md:w-1/12 mt-4 ml-[1em] md:ml-[13em] mb-[8em] md:mb-[20em]"
      src="/Group34.png" alt="img"> 

  </body>
{% endblock %}